<div 
  *ngIf="loaded; else loading"
  fxLayout="row wrap" 
  fxLayoutAlign="center start" 
  fxLayoutGap="5px">
  <sw-planets-list-item 
    *ngFor="let planet of planets"
    [planet]="planet"
    fxFlex="90%"
    fxFlex.gt-sm="45%"
    fxFlex.gt-md="20%"
  >
  </sw-planets-list-item>

  <mat-paginator
    fxFlex="100"
    pageSize="10"
    [length]="count$|async"
    [pageIndex]="currentPage"
    showFirstLastButtons="true"
    (page)="onPageChanged($event)">
  </mat-paginator>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>