<mat-toolbar fxLayout="row" color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Star wars app</span>
    <span fxFlex></span>
    <span class="menu-item">
        <button mat-icon-button>
          <mat-icon matTooltip="Personajes">face</mat-icon>
        </button>
    </span>
    <span class="menu-item">
        <button mat-icon-button>
            <mat-icon matTooltip="Planetas">terrain</mat-icon>
        </button>
    </span>
    <span>
      <button mat-icon-button>
        <mat-icon matTooltip="Películas">movie</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
