<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h1 [style.background-color]="bgColor">
    Welcome to <span [innerText]="title"></span> (attribute mode)!
  </h1>
  <img width="300" src="{{ helloWorldImgSrc }}">
  <img width="300" [src]="helloWorldImgSrc">
</div>

<div>
  <button [disabled]="buttonDisabled">Am I disabled??</button>
  <a (click)="toggleBtn()">Toggle button</a>
</div>


<div>
  <input type="text" (input)="inputValue = $event.target.value" [value]="inputValue"><br />
  You typed: {{inputValue}} (<a (click)="clearInputValue()">Clear</a>)
</div>

<router-outlet></router-outlet>
