<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="mat-card" fxFlex="75%" fxFlex.gt-xs="500px">
    <mat-card-header>
      <mat-card-title>
        <h3>Error 404</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/trooper.png" alt="Error 404">
    <mat-card-content>
      <p>
        Esta no es la página que estás buscando.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button routerLink="/" color="primary">HOME</a>
    </mat-card-actions>
  </mat-card>
</div>