<mat-toolbar fxLayout="row" color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Star wars app</span>
    <span fxFlex></span>
    <span class="menu-item">
        <a mat-icon-button routerLink="/characters">
          <mat-icon matTooltip="Personajes">face</mat-icon>
        </a>
    </span>
    <span class="menu-item">
        <a mat-icon-button routerLink="/planets">
            <mat-icon matTooltip="Planetas">terrain</mat-icon>
        </a>
    </span>
    <span>
      <a mat-icon-button routerLink="/movies">
        <mat-icon matTooltip="Películas">movie</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
